<link href="https://fonts.googleapis.com/css?family=Charm&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href="/css/aboutUs.css">

<div id="fb-root">
  <script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0"></script>
</div>
<div class="thewholebody">

  <!-- Pagination -->

  <div class="ui horizontal divider" height=1500px width=1500px>
    ☆ ☆ ☆
  </div>
  <!-- About Section -->
  <div class="container">
    <h3>
      <b> ☆ The People Behind We The People ☆ </b>
    </h3>
    <div id="socialButtons">
     
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

      <div class="fb-like" data-href="http://www.wethepeoplesusa.com" data-width="" data-layout="standard"
        data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
        
    </div>
    <br>
    <img src="/img/wethepeople.png" alt="US" class="w3-image" style="display:block;margin:auto" width="800"
      height="533">
    <div class="lowercontainer">
      <h4>
        <b> <br> ☆ Hamilton's Homies ☆ </b>
      </h4>
      <h6>
        <i> Pursuing life, Liberty and Coding Fluency </i>
      </h6>
      <p> Hello Patriots and Redcoats alike, welcome to our page! Our names are Emma, Dylan, Ned, and Ricky. We came to
        a six-week coding boot camp in San Fransisco to improve our coding abilities, teamwork skills, and most
        importantly, our
        knowledge of the founding framework. We
        came in at different experience levels and worked together to make this interactive website as our final
        project. We are hoping this site highlights that the Constitution isn't just a boring piece of paper, but one of
        the most
        influential and perplexing documents ever written. An informed citizenry is of utmost important if we wish not
        to
        be a nation of sheep, but rather home of the free and brave.
        Thank you for visiting! </p>
      <div class="ui horizontal divider" height=1500px width=1500px>
        ☆
      </div>

      <div class="w3-row-padding w3-padding-32">
        <div class="w3-third">
          <h3> <b> ☆ The People Behind We The People ☆ </b> </h3>
          <div id="lol">LINKEDIN PAGES </div>
          <ul class="w3-ul w3-hoverable">
            <li class="w3-padding-16">
              <img src="img/emma.png" class="w3-left w3-margin-right" style="width:50px">
              <span class="w3-large">
                <a href="https://www.linkedin.com/in/emma-wolff-03b169151/" target="_blank">☆ Emma Wolff </a>
              </span><br>
              <span>Rising Junior @ Mount Holyoke College</span>
            </li>
            <li class="w3-padding-16">
              <img src="/img/dylan.jpg" class="w3-left w3-margin-right" style="width:50px">
              <span class="w3-large">
                <a href="https://www.linkedin.com/in/dylan-edwards-345a09155/" target="_blank">☆ Dylan Edwards </a>
              </span><br>
              <span>Rising Sophomore @ Occidental College</span>
            </li>
            <li class="w3-padding-16">
              <img src="img/ned.jpg" class="w3-left w3-margin-right" style="width:50px">
              <span class="w3-large">
                <a href="https://www.linkedin.com/in/ned-bai-a20ba1b5/" target="_blank">☆ Nade Bai</a> </span><br>
              <span>Rising Sophomore @ Davidson College </span>
            </li>
            <li class="w3-padding-16">
              <img src="img/ricky.jpg" class="w3-left w3-margin-right" style="width:50px">
              <span class="w3-large">
                <a href="https://www.linkedin.com/in/ricardo-pinnock/" target="_blank">☆ Ricardo Pinnock </a>
              </span><br>
              <span>Rising Sophomore @ Davidson College </span>
            </li>
          </ul>
        </div>
        <p> <b> “Our Favorite Amendments...” </b> <br> <br>
          During World War Two President Franklin D. Roosevelt lowered the minimum age, “Old Enough to Fight, Old Enough
          to Vote," was instituted by the 26th amendment as millions faced the draft. <br> <br> In the 1860 Census
          slaves accounted for 12.6 percent of the national population. The 13th Amendment to
          the Constitution abolished slavery in the United States. It became law in December 1865, just eight months
          after Lincoln was killed. <br> <br>
          On August 18, 1920, the 19th amendment granted women the right to vote. On November 2 of that same year, more
          than 8 million women across the U.S. voted in elections for the first time.
          <br> <br>
          Poll taxes enacted in Southern states between 1889 and 1910 had the effect of disenfranchising many blacks as
          well as poor whites, because payment of the tax was a prerequisite for voting. Thankfully, the 24th amendment
          rid this country of poll &nbsp; &nbsp; &nbsp; taxes in 1964 - a major milestone for civil rights.
        </p>

      </div>

    </div>
  </div>

  <!-- End page content -->
</div>