<link rel="stylesheet" type="text/css" href="/css/education.css">
<link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">

<div id="imagecontent">
  <ul class="cardBody">
 
      {{#each articles }}
        <div class="ui card" id="cards">
          <div class="image">
            <img src="/img/{{ image }}.png" height="200px" width="250px" alt="alt">
          </div>
          <div class="content">
            <a class="header"> <a href="/article/{{ id }}">{{ title }}</a> <a href="/article/{{ id }}"> </a> </div>
        </div>{{/each}} </ul> 
      </div>
