
  <link rel="stylesheet" type="text/css" href="/css/education.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">

<div id="imagecontent">

<ul>
  {{#each articles }} <br>
  <li><a href="/article/{{ id }}">{{ summary }}</a></li>
  {{/each}}
</ul> 

</div>
