<link rel="stylesheet" type="text/css" href="/css/education.css">
<link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">

<div id="imagecontent">

  <ul>
    {{#each articles }} <br>
    <li><a href="/article/{{ id }}">{{ summary }}</a></li>
    {{/each}}
  </ul>
<div id="marginize">

  <div class="ui centered four stackable cards">
    <div class="card">
      <div class="image">
        <img src="/img/article1.png">
      </div>
      <div class="content">
        <a class="header">Article 1</a>
      </div>
    </div>

    <div class="card">
      <div class="image">
        <img src="/img/article2.png">
      </div>
      <div class="content">
        <a class="header">Article 2</a>
      </div>
    </div>
  </div>

  <div class="ui four stackable cards">

    <div class="card">
      <div class="image">
        <img src="/img/article3.png">
      </div>
      <div class="content">
        <a class="header">Article 3</a>
      </div>
    </div>


    <div class="card">
      <div class="image">
        <img src="/img/article4.png">
      </div>
      <div class="content">
        <a class="header">Article 4</a>
      </div>
    </div>


    <div class="small card">
      <div class="small image">
        <img src="/img/article5.png" height="40px" width="40px">
      </div>
      <div class="content">
        <a class="header">Article 6</a>
      </div>
    </div>


    <div class="card">
      <div class="image">
        <img src="/img/article7.png">
      </div>
      <div class="content">
        <a class="header">Article 7</a>
      </div>
    </div>


    <div class="card">
      <div class="image">
        <img src="/img/article8.png">
      </div>
      <div class="content">
        <a class="header">Article 8</a>
      </div>
    </div>

    <div class="card">
      <div class="image">
        <img src="/img/article9.png">
      </div>
      <div class="content">
        <a class="header">Article 9</a>
      </div>
    </div>

    <div class="card">
      <div class="image">
        <img src="/img/article10.png">
      </div>
      <div class="content">
        <a class="header">Article 10</a>
      </div>
    </div>

    <div class="card">
      <div class="image">
        <img src="/img/article11.png">
      </div>
      <div class="content">
        <a class="header">Article 11</a>
      </div>
    </div>

    <div class="card">
      <div class="image">
        <img src="/img/article12.png">
      </div>
      <div class="content">
        <a class="header">Article 12</a>
      </div>
    </div>

    <div class="card">
      <div class="image">
        <img src="/img/article13.png">
      </div>
      <div class="content">
        <a class="header">Article 13</a>
      </div>
    </div>

    <div class="card">
      <div class="image">
        <img src="/img/article14.png">
      </div>
      <div class="content">
        <a class="header">Article 14</a>
      </div>
    </div>

    <div class="card">
      <div class="image">
        <img src="/img/article15.png">
      </div>
      <div class="content">
        <a class="header">Article 15</a>
      </div>
    </div>

    <div class="card">
      <div class="image">
        <img src="/img/article16.png">
      </div>
      <div class="content">
        <a class="header">Article 16</a>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="/img/article17.png">
      </div>
      <div class="content">
        <a class="header">Article 17</a>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="/img/article18.png">
      </div>
      <div class="content">
        <a class="header">Article 18</a>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="/img/article19.png">
      </div>
      <div class="content">
        <a class="header">Article 19</a>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="/img/article20.png">
      </div>
      <div class="content">
        <a class="header">Article 20</a>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="/img/article21.png">
      </div>
      <div class="content">
        <a class="header">Article 21</a>
      </div>
    </div>

    <div class="card">
      <div class="image">
        <img src="/img/article22.png">
      </div>
      <div class="content">
        <a class="header">Article 22</a>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="/img/article23.png">
      </div>
      <div class="content">
        <a class="header">Article 23</a>
      </div>
    </div>

    <div class="card">
      <div class="image">
        <img src="/img/article24.png">
      </div>
      <div class="content">
        <a class="header">Article 24</a>
      </div>
    </div>

    <div class="card">
      <div class="image">
        <img src="/img/article25.png">
      </div>
      <div class="content">
        <a class="header">Article 25</a>
      </div>
    </div>

    <div class="card">
      <div class="image">
        <img src="/img/article26.png">
      </div>
      <div class="content">
        <a class="header">Article 26</a>
      </div>
    </div>

    <div class="card">
      <div class="image">
        <img src="/img/article27.png">
      </div>
      <div class="content">
        <a class="header">Article 27</a>
      </div>
    </div>

    <div class="card">
      <div class="image">
        <img src="/img/article28.png">
      </div>
      <div class="content">
        <a class="header">Article 28</a>
      </div>
    </div>

    <div class="card">
      <div class="image">
        <img src="/img/article29.png">
      </div>
      <div class="content">
        <a class="header">Article 29</a>
      </div>
    </div>

    <div class="card">
      <div class="image">
        <img src="/img/article30.png">
      </div>
      <div class="content">
        <a class="header">Article 30</a>
      </div>
    </div>

        <div class="card">
      <div class="image">
        <img src="/img/article31.png">
      </div>
      <div class="content">
        <a class="header">Article 31</a>
      </div>
    </div>

    <div class="card">
      <div class="image">
        <img src="/img/article32.png">
      </div>
      <div class="content">
        <a class="header">Article 32</a>
      </div>
    </div>

    <div class="card">
      <div class="image">
        <img src="/img/article33.png">
      </div>
      <div class="content">
        <a class="header">Article 33</a>
      </div>
    </div>

    <div class="card">
      <div class="image">
        <img src="/img/article34.png">
      </div>
      <div class="content">
        <a class="header">Article 34</a>
      </div>
    </div>





  </div>


</div> 
</div>