
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error aliquid esse quibusdam modi sit velit voluptas cumque
  consequuntur repudiandae eius ratione voluptate illo natus nisi, eaque repellat incidunt quasi reiciendis.</p>

<body>
  segment
  buttons
  <div id="articlecontent" 
</body>

<p>Welcome to {{title}}</p>
