
<body>
  segment
  buttons
  <div id="articlecontent" 
</body>

  <div id="blurb">
    <p>We the people do solemnly swear to not understand what the fuck is going on in the constitution. </p>
    segment
    buttons
  </div>


</body>
{{!-- class="ui segment" --}}