<link rel="stylesheet" type="text/css" href="/css/index.css">

<body>

  <div id="blurb" class="ui segment">
    <p>We the people do solemnly swear to not understand what the fuck is going on in the constitution... </p>
    <a href="https://fonts.google.com/specimen/UnifrakturMaguntia?selection.family=UnifrakturMaguntia"><button id="indexLearnButton"> Learn
        about our Constitution</button></a>
    <br>
    <a href="https://fonts.google.com/specimen/UnifrakturMaguntia?selection.family=UnifrakturMaguntia"><button id="indexQuizButton"> Test
        Your Knowledge</button></a>
  </div>

</body>