<link rel="stylesheet" type="text/css" href="/css/index.css">

<body>

  <div id="pageBody">
    <p>We the people do solemnly swear to not have a clue about what is going on in the constitution... </p>
    <a href="/education"><button id="indexLearnButton"> Learn
        about our Constitution</button></a>
    <br>
    <a href="/quiz"><button id="indexQuizButton"> Test
        Your Knowledge</button></a>
        <br>
    <a href="/timeline"><button id="indexTimelineButton"> Check Out our Timeline</button></a>
  </div>

</body>