<body>

  <div id="blurb" class="ui segment">
    <p>We the people do solemnly swear to not understand what the fuck is going on in the constitution. </p>
    <a href="https://fonts.google.com/specimen/UnifrakturMaguntia?selection.family=UnifrakturMaguntia"><button> Learn
        about our Constitution</button></a>
    <a href="https://fonts.google.com/specimen/UnifrakturMaguntia?selection.family=UnifrakturMaguntia"><button> Real
        Time Action</button></a>
    <a href="https://fonts.google.com/specimen/UnifrakturMaguntia?selection.family=UnifrakturMaguntia"><button> Test
        Your Knowledge</button></a>
  </div>

</body>