<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta property="og:type=website" content="article"/>
  <meta property="og:url" content="http://wethepeoplesusa.com/"/>
  <meta property="og:title" content="We The People"/>
  <meta property="og:description" content="Working to increase constitutional awareness"/>
  <meta property="og:image" content="http://wethepeoplesusa.com/govbuild.jpg"/>

  <title>{{title}}</title>
  {{!-- <link rel="stylesheet" type="text/css" href="/css/index.css"> --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css"
    integrity="sha256-QVBN0oT74UhpCtEo4Ko+k3sNo+ykJFBBtGduw13V9vw=" crossorigin="anonymous" />
  {{!-- linking to semantic^ --}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {{!-- linking to bootstrap^ --}}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
  {{!-- linking to jquery^ --}}
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  {{!-- linking to w3^ --}}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/css/layoutStyle.css">
  <link
    href="https://fonts.googleapis.com/css?family=Black+Ops+One|Bungee+Inline|Cinzel|Faster+One|Monoton|Poller+One&display=swap"
    rel="stylesheet">
  {{!-- linking fonts^ --}}
  <link href="https://fonts.googleapis.com/css?family=Croissant+One&display=swap" rel="stylesheet">
  {{!-- header font --}}
  <link href="https://fonts.googleapis.com/css?family=UnifrakturMaguntia&display=swap" rel="stylesheet">
  {{!-- test header font --}}
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Charm|Felipa|Great+Vibes|Monsieur+La+Doulaise|Romanesco&display=swap" rel="stylesheet">
  {{!-- body font  --}}
</head>

<body>

    <div class="ui stackable five item menu">
      <a id="intro" href="/aboutUs" class="item"> About Us</a>
      <a id="intro" href="/education" class="item">Interactive Constitution</a>
      <a class="vertically fitted item" href="/">  <h4 id="head"><img src="/img/eagle.svg" alt="eagle" height="50" width="50"> - We The People - <img src="/img/eagle.svg" alt="eagle" height="50" width="50"> </h4> </a>
      <a id="intro" href="/timeline" class="item"> Timeline of Amendment Additions</a>
      <a id="intro" href="/quiz" class="item"> Test Your Knowledge</a>
      
    </div>

    <div id="articleContent">
      {{{ body }}}
    </div>
</body>

</html>