<link rel="stylesheet" type="text/css" href="/css/quiz.css">
<div class="ui segment" id="main">

  <br>
  <div id="title" >How Well Do You Know The Consitution ?</div>
  <div id="pic">
    <img src="/img/readit.png" alt="reading george" height="250px" width="600px">
  </div>
  <div>
    <!---
<div class="container">
<img id="pic"  src="/img/readit.png" alt="reading george" height="250px" width="600px"  >
  <div class="bottom-left"></div>
  <div class="top-left"></div>
  <div class="top-right"></div>
  <div class="bottom-right"></div>
  <div id="title" class="centered"><div class="ui segment">
  <p>QUIZ</p>
</div></div>
</div> --->

    <!--- <div id="centered">QUIZ</div>
<div id="header">
</div>
--->
    <br>
    <form action="/quiz" method="post">
      <h5 id="maintext">What was our country's first consitution called? </h5>
      <ul class="ui segment " id="pre">
        <li><input type="radio" name="q1" value=" yes "> The Articles of Confederation </li>
        <li><input type="radio" name="q1" value=" no "> The Decleration of Independence</li>
        <li><input type="radio" name="q1" value=" no "> The Federalist Papers</li>
        <li><input type="radio" name="q1" value=" no "> The Emancipation Proclimation</li>
      </ul>
      <br>
      <hr>

      <h5 id="maintext">Who makes the laws for the United States? </h5>
      <ul class="ui segment " id="pre">
        <li><input type="radio" name="q2" value=" no "> The President</li>
        <li><input type="radio" name="q2" value=" no "> The Senate</li>
        <li><input type="radio" name="q2" value=" yes "> Congress</li>
        <li><input type="radio" name="q2" value=" no "> The Supreme Court</li>
      </ul>
      <hr>

      <h5 id="maintext">What is the absolute longest amount of time a person can serve as President? </h5>
      <ul class="ui segment " id="pre">
        <li><input type="radio" name="q3" value=" no "> 4 Years </li>
        <li><input type="radio" name="q3" value=" no "> 8 Years </li>
        <li><input type="radio" name="q3" value=" yes "> 10 Years </li>
        <li><input type="radio" name="q3" value=" no "> 12 Years </li>
      </ul>
      <hr>

      <h5 id="maintext">A man accused of a crime in court has the right to:</h5>
      <ul class="ui segment " id="pre">
        <li><input type="radio" name="q4" value=" no "> An attorney</li>
        <li><input type="radio" name="q4" value=" no "> To be tried wherever he wants</li>
        <li><input type="radio" name="q4" value=" no "> To have any judge he wants</li>
        <li><input type="radio" name="q4" value=" no "> To hear any witness against him </li>
        <li><input type="radio" name="q4" value=" yes "> Both A and D </li>
      </ul>
      <hr>

      <h5 id="maintext">What does it mean to invoke the Fifth Ammendment?</h5>
      <ul class="ui segment " id="pre">
        <li><input type="radio" name="q5" value=" yes "> To refuse to testify if it means incriminating oneself</li>
        <li> <input type="radio" name="q5" value=" no "> To refuse to be tried again in court</li>
        <li> <input type="radio" name="q5" value=" no "> To demand a Grand Jury </li>
        <li> <input type="radio" name="q5" value=" no "> To request an appeal to a case </li>
      </ul>
      <hr>

      <h5 id="maintext"> Who was our first Vice President?</h5>
      <ul class="ui segment " id="pre">
        <li> <input type="radio" name="q6" value=" no "> Alexander Hamilton</li>
        <li> <input type="radio" name="q6" value=" no "> Thomas Jefferson</li>
        <li> <input type="radio" name="q6" value=" no "> Benjamin Franklin </li>
        <li> <input type="radio" name="q6" value=" yes "> John Adams </li>
      </ul>
      <hr>

      <h5 id="maintext">What is Bill of Rights?</h5>
      <ul class="ui segment " id="pre">
        <li> <input type="radio" name="q7" value=" yes "> The first ten ammendments</li>
        <li> <input type="radio" name="q7" value=" no "> The Fifteenth Ammendment</li>
        <li> <input type="radio" name="q7" value=" no "> The entire consitution</li>
        <li> <input type="radio" name="q7" value=" no "> All of the ammendments </li>
      </ul>
      <hr>

      <h5 id="maintext">Who will be acting President if neither the President nor the Vice President can serve?
      </h5>
      <ul class="ui segment " id="pre">
        <li> <input type="radio" name="q8" value=" no "> The Chief Justice</li>
        <li> <input type="radio" name="q8" value=" yes "> The Speaker of the House</li>
        <li> <input type="radio" name="q8" value=" no "> The Elected President of the Senate</li>
        <li> <input type="radio" name="q8" value=" no "> The Secretary of State</li>
      </ul>
      <hr>

      <h5 id="maintext">Who is the major department head appointed by the President to deal with foreign countries?</h5>
      <ul class="ui segment " id="pre">
        <li> <input type="radio" name="q9" value=" no "> Secretary of Defense </li>
        <li> <input type="radio" name="q9" value=" no "> Secretary of Commerce</li>
        <li> <input type="radio" name="q9" value=" no "> Attorney General</li>
        <li> <input type="radio" name="q9" value=" yes "> The Secretary of State</li>
      </ul>
      <hr>

      <h5 id="maintext">The President is elected if they... </h5>
      <ul class="ui segment " id="pre">
        <li> <input type="radio" name="q10" value=" yes "> Wins the majority of electoral votes </li>
        <li> <input type="radio" name="q10" value=" no "> Wins the popular vote</li>
        <li> <input type="radio" name="q10" value=" no "> Wins the votes from the Congress</li>
        <li> <input type="radio" name="q10" value=" no "> Wins all of the states votes</li>
      </ul>
      <hr>

      <br>
      <div id="centerme">
        <input id="submitButton" class="ui medium  button" type="submit" value="submit">
      </div>
      <br>
      <br>
    </form>
  </div>
</div>

<!---
   let biden Counter = 0;
  let sanders Counter = 0;
  let booker Counter = 0;
  let harris Counter = 0;
  let buttigieg Counter = 0;
  let yang Counter = 0;
  let trump Counter = 0;
  let warren Counter = 0;
  let beto Counter = 0;
  let klobuchar Counter = 0;
  let castro Counter = 0;
  let gillibrand Counter = 0;
  let weld Counter = 0;
  let tim ryan Counter = 0;
  let steve bullock Counter = 0; --->