<div class="ui container">
    <form class="ui form">
        <div class="inline fields">
            <div class="field">
                <label>Search</label>
                <input type="text" name="search" placeholder="searching for?">
                <button class="ui button" type="submit">Search</button>
            </div>
        </div>
    </form>
</div>

<hr>

<div class="ui container">
    <div id="results"></div>
</div>


</q>
<script src="https://unpkg.com/lunr/lunr.js"></script>
{{!-- linking to Lunr^ --}}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
{{!-- linking to jquery^ --}}


<script>
    let index
    let documents

    $.get('/js/documents.json', docs => {
        documents = docs

        index = lunr(function () {
            this.ref('id')
            this.field('title')
            this.field('summary')
            this.field('image')
            this.field('content')
            this.field('ammendedout')
            this.field('ratification')
            this.field('tags')

            docs.forEach(function (doc) {
                this.add(doc)
            }, this)
        })

    })


    $(document).ready(function() {
        $('form').on('submit', function(e){
            e.preventDefault();
            let searchTerms = $('form').serializeArray()
            let text = searchTerms[0].value

            let results = index.search(text)
            let ids = results.map(r => r.ref).map(Number)

            $('#results').empty()
            ids.map(id => $('#results').append(getHTMLFrom(id)))
        })
    })


    function getHTMLFrom(id){
        let doc = documents.find(doc => doc.id === id)

        return `
           <div class="ui message">
               <div class="header">
                   <a href=/article/${ doc.id }>${ doc.title }</a>
               </div>
               <p>${ doc.summary }</p>
           </div>
       `

    }
    
</script>

