.thewholebody {
  font-family: "Charm", cursive;
  color: black;
  font-size: 18px;
  
}
p, b {
  font-family: "Charm", cursive;
  color: black;
  font-size: 23px;
}
.container {
  text-align: center;
  font-family: "Charm", cursive;
}

.lol {
  font-family: "Charm", cursive;
  color: black;
  font-size: 13px;
}


#socialButtons {
  align-content: left;
  max-width:400px;
  
}
