#imagecontent {
  background-image: url("/img/constbg.png")  ;
  min-height: 100%;
  background-position: center;
  color: black;
  font-size: 18px;
  font-family: "Charm", cursive;
}

#imagecircle {
  margin-top: 10px;
  align-self: center;
  text-align: center;
}

#titletext {
  text-align: center;
  padding: 25px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 21%;
}

#bodyWords{
  padding: 25px;
}
