body{
  background-image: url(/img/govbuild.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #464646;
}





#pageBody{
padding: 25px;
}

p {
  color: antiquewhite;
}
#indexLearnButton,
#indexQuizButton {
  padding: 1.25rem;
  border-radius: 25px;
  margin-bottom: 15px;
}

@media only screen and (max-width: 800px) {
  body {
    background-image: url(/img/govbuild.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #464646;
    background-position: center center;
  }
}