body{
  background-image: url(/img/govbuild.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#pageBody{
padding: 25px;
}

p {
  color: antiquewhite;
}
#indexLearnButton,
#indexQuizButton {
  padding: 1.25rem;
  border-radius: 25px;
  margin-bottom: 15px;
}
