#intro{
  color: rgb(10, 10, 93);
}

#head{
  text-align: center;
  font-family: 'Felipa', cursive;
  color: rgb(10, 10, 93);
}

body {
  background-color:rgb(255, 255, 255);
  height: 100%;
}

#pageBody{
height: 100vh;
font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#articleContent{
  margin-top: 5px;
}

h1{
  width: 80%;
  font-size: 150px;
  font-weight: normal;
  /* font-family: 'Croissant One', cursive; */
  font-family: 'UnifrakturMaguntia', cursive;
  font-stretch: wider;
}

h3{
  font-size: 50px;
  font-weight: lighter;
  /* font-family: 'Croissant One', cursive; */
  font-family: 'UnifrakturMaguntia', cursive;
}

p{
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

a {
  color: black;
  /* this is arbitrary and can change */
}

.item{
  margin: 0.75rem 0rem;
}