#main{
  background-color: whitesmoke;
  border-style: solid;
  border: red;
  border-width: 2px;
  margin: 20px;
}

#header{
  text-align: center;
}
#info{
text-align: center;
}
#centered{
  text-shadow: 2px 2px 8px black;
  color: rgb(192, 240, 228);
  position: relative;
  text-align: center;
}

#pre{
  margin: 10px;
  color:  rgb(10, 10, 93);
  list-style-type: none;
}

#maintext{
  -webkit-text-stroke-width: .45px;
  -webkit-text-stroke-color: black;
  font-weight: 1000;
  color: rgb(10, 10, 93);
  margin: 10px;
}
#pic{
  text-align: center;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
#title{
  position: relative;
  font-size: 50px;
  color:  rgb(10, 10, 93);
  font-weight: normal;
  font-family: 'Croissant One', cursive;
  font-stretch: wider;
  text-align: center;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#submitButton{
  background-color: rgb(10, 10, 93);
  color: antiquewhite;
}