#pageBody{
display: grid;
grid-template-columns: 1fr 3fr 1fr;
font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header{
  color: rgb(243, 247, 250);
  background-color: rgb(12, 64, 66);
  /* background-image: url(/img/passport.jpeg); */
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  font-size: 110px;
  text-align: center;
  text-shadow: 1px 7px rgb(206, 111, 97);
  font-family: 'Croissant One', cursive;
  top: -200px;
  padding: 3rem;

  /* order: 0; */
}

.tagline{
  font-size: 55px;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* font-family: FF-DIN,sans-serif; */
  background-color:rgb(255, 255, 255);
  /* margin: 5px; */
  /* padding: 50px; */
  height: 100%;
}

a {
  color: rgb(251, 255, 0);
  /* this is arbitrary and can change */
}

h1{
  width: 80%;
  font-size: 150px;
  font-weight: normal;
  font-family: 'Croissant One', cursive;
  font-stretch: wider;
}

h3{
  font-size: 50px;
  font-weight: lighter;
  font-family: 'Croissant One', cursive;
}

p{
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

.emptySideColumn{
  margin: 35px;
  /* background-color: rgb(94, 84, 62); */
}

.item{
  margin: 0.75rem;
}

#blurb{
  /* background-color: darkorchid; */
  margin-top: 35px;
  padding: 40px;
}

#linksToOtherFeatures{
  width: auto;
  margin: 10px;
}